body{
	background-color:#00BFFF

       
    }

h1,h2,p{

          color:#000000;
          font-family: "Times New Roman", Times, serif;
          text-align: center;

    }

ul,li{

          color:#000000;
          font-family: "Times New Roman", Times, serif;
          text-align: left;

     }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60;
}



