h1,p{

          color:#FFFAFA;

    }

ul,li{

          color:#FFFAFA;

     }          

body{

       background-image: url(img/fundo.png);
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover; 

    }